html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Dekko';
  font-size: 18px;
}

h1 {
  font-size: 30px;
  font-family: 'Dekko';
}
h2{
  font-family: 'Dekko';
}
h3 {
  font-family: 'Dekko';
  margin: 3px;
    font-size: 30px;
}

h4{
  font-size: 20px;
  color: #ff445a;
  margin: 5px;
}
p{
  margin: 5px;
  word-wrap: break-word;
}
i{
  font-size: 26px;
  color: #ff445a;
}
.login{
  padding-top: 50px;
}
