/*----- Header -----*/

header {
  display: flex;
  align-items: center;
  justify-content:  flex-end;
  padding: 3px 10px 3px 10px;
  height: 40px;
  border-bottom: 2px solid #ff445a;
}
i{
  padding-right: 5px;
}
nav{
  padding-right: 30px;
}
.headerFixed{
  position: fixed;
  top: 0;
  width: 99%;;
  z-index: 98;
}
.headerLogo{
  position: fixed;
  top: 0;
  left: 10%;
  width: 100%;
  z-index: 99;
  height: 100px;
  width: auto;
}
/*----- header img -----*/

.headerImg {
  position: relative;
  text-align: center;
  color: white;
}

.sliderImg {
  max-width: 100%;
  height: auto;
  border-bottom: 2px solid #ff445a;
  margin-bottom: 30px;
}

.imgTitle {
  font-size: 50px;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/*----- Posts -----*/

.index_posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}


figure img {
    width: 100%;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
figure a {
  padding: 0;
}
figure {
  position: relative;
  overflow: hidden;
  height: 150px;
  width: 250px;
  margin: 15px;
  background-color: rgba(0, 0, 0, 0);
}

figcaption {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  width: 100%;
  opacity: 0;
  top: -30%;
  left: 0;
  font-size: 14px;
  transition: all 0.6s ease;
}
figcaption p{
  margin: 0;
}

figure:hover figcaption {
  opacity: 1;
  background-color: #ff445a;
  top: 0;
}

/*----- Post and Comment -----*/

.post_view {
  max-width: 80%;
  margin: auto;
  text-align: justify;
  display: flex;
  flex-wrap: wrap;
}
.postImg{
height: auto;
width: 100%;
max-width: 500px;
}
.comment {
  margin: auto;
  padding: 5px;
  border-bottom: 2px solid #ff445a;
  max-width: 50%;
}

.comment_button {
  display: flex;
  justify-content: center;
}
textarea{
  max-width: 80%;
}
/*----- footer -----*/
footer{
  margin-top: 30px;
}
/*----- admin -----*/
table {
  border-collapse: collapse;
}

td {
  border: 2px solid #ff445a;
}
.center{
  align-items: center;
  padding-top: 10px;
}
.admin {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin_page {
  margin: auto;
  max-width: 90%;
  padding-top: 20px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.admin_post {
  align-items: flex-start;
  margin: auto;
  margin-top: 0;
  height: auto;
  max-width: 500px;
}

.admin_comment {
  max-width: 500px;
  height: auto;
  align-items: center;
  margin: auto;
  margin-top: 0;
}

@media all and (max-width: 780px) {
  h1 {
    font-size: 20px;
  }
  header  {
    margin: 0;
  }
  .imgTitle {
    font-size: 25px;
    top: 30%;
  }
  em{
    font-size: 14px;
  }
}
