/*----- Header -----*/

header {
  display: flex;
  align-items: center;
  justify-content:  flex-end;
  padding: 3px 10px 3px 10px;
  height: 40px;
  border-bottom: 2px solid #ff445a;
}
.headerTitle{
    margin: auto;
}
.headerFixed{
  position: fixed;
  top: 0;
  width: 99%;;
  z-index: 98;
}
.headerLogo{
  position: fixed;
  top: 0;
  left: 30px;
  width: 100%;
  z-index: 99;
  height: 100px;
  width: auto;
}
@media all and (max-width: 720px){
  .headerLogo{
    position: fixed;
    top: 0;
    left: 30px;
    width: 100%;
    z-index: 99;
    height: 45px;
    width: auto;
  }
}
/*----- Header nav -----*/
#menu-deroulant, #menu-deroulant ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: white;
}
#menu-deroulant {
/* on centre le menu dans la page */
    text-align: center;
}
#menu-deroulant li {
/* on place les liens du menu horizontalement */
    display: inline-block;
}
#menu-deroulant ul li {
/* on enlève ce comportement pour les liens du sous menu */
    display: inherit;
    text-align: center;
    width: 150px;
}
#menu-deroulant a {
    text-decoration: none;
    display: block;
        color: #ff445a;
}
#menu-deroulant ul {
    position: absolute;
/* on cache les sous menus complètement sur la gauche */
    left: -999em;
    text-align: left;
    z-index: 1000;
    width: auto;
}
#menu-deroulant li:hover ul {
/* Au survol des li du menu on replace les sous menus */
    left: auto;
}
/*----- header img -----*/

.headerImg {
  position: relative;
  text-align: center;
  color: white;
}

.sliderImg {
  max-width: 100%;
  height: auto;
  border-bottom: 2px solid #ff445a;
}

.imgTitle {
  font-size: 50px;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/*----- Posts -----*/

.index_posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}


figure img {
    width: 100%;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
figure a {
  padding: 0;
}
figure {
  position: relative;
  overflow: hidden;
  height: 140px;
  width: 250px;
  margin: 15px;
  background-color: rgba(0, 0, 0, 0);
}

figcaption {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  width: 100%;
  opacity: 0;
  top: -30%;
  left: 0;
  font-size: 14px;
  transition: all 0.6s ease;
}
figcaption p{
  margin: 0;
}

figure:hover figcaption {
  opacity: 1;
  background-color: #ff445a;
  top: 0;
}

/*----- Post and Comment -----*/

.post_view {
  max-width: 100%;
  margin: auto;
  text-align: justify;
  display: flex;
  flex-wrap: wrap;
}
.postImg{
height: auto;
width: 100%;
max-width: 500px;
margin-left: auto;
}
.postText{
  margin-left: 10px;
  margin-right: auto;
}
.comment {
  margin: auto;
  padding: 5px;
  border-bottom: 2px solid #ff445a;
  max-width: 50%;
}

.comment_button {
  display: flex;
  justify-content: center;
}
textarea{
  margin-top: 10px;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
}
input{
  margin-top: 10px;
  width: 120px;
  height: 20px;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
}
textarea:focus, input:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}
/*----- footer -----*/
footer{
  margin-top: 30px;
}
/*----- admin -----*/
table {
  border-collapse: collapse;
}

td {
  border: 2px solid #ff445a;
}
.center{
  align-items: center;
  padding-top: 10px;
}
.admin {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin_page {
  margin: auto;
  max-width: 90%;
  padding-top: 20px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.admin_post {
  align-items: flex-start;
  margin: auto;
  margin-top: 0;
  height: auto;
  max-width: 500px;
}

.admin_comment {
  max-width: 500px;
  height: auto;
  align-items: center;
  margin: auto;
  margin-top: 0;
}

@media all and (max-width: 780px) {
  h1 {
    font-size: 20px;
  }
  header  {
    margin: 0;
  }
  .imgTitle {
    font-size: 25px;
    top: 30%;
  }
  em{
    font-size: 14px;
  }
  .post_view {
flex-direction: column;
  }
  .postImg{
margin: auto;
  }
}
@media all and (max-width: 480px){
  h1{
    display: none;
  }
}
