.button {
  font-size: 16px;
  padding: 6px 8px;
  margin: 1px;
  border-radius: 3px;
  text-decoration: none;
  border: 0px;
  font-family: 'Dekko';
  outline: none;
}
.button:hover{
  color: pink;
}
.socialIcon{
 padding: 0;
}
.white{
  color: #ff445a;
  background-color: white;
}
.green{
  color: white;
  background-color: green;
  text-decoration: none;
}
.pink{
  background-color: #ff445a;
  text-decoration: none;
  color: white;
}
.red{
  background-color: red;
  text-decoration: none;
  color: white;
}
.toggle1:focus{
  background-color: #ff445a;
  outline: none;
  color: white;
}
.toggle2:focus{
  background-color: #ff445a;
  outline: none;
  color: white;
}
button{
  cursor: pointer;
}
h1, h2, h3 {
  color: #ff445a;
}
h5{
  color: #ff445a;
  font-size: 20px;
}
figure{
  display: inline-block;
vertical-align: middle;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px rgba(0, 0, 0, 0);
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property: box-shadow;
transition-property: box-shadow;
}
figure:hover{
  box-shadow: 0 0 8px #ff445a;

}
body {
  background-color: white;
}
footer{
  background-color: #ff445a;
  display: flex;
    align-items: center;
  justify-content: space-between;
    padding: 3px 10px 3px 10px;
  height: 40px;
}
header nav ul li p {
  color: #ff445a;
}
figure figcaption p {
  color: white;
}
