a, button {
  color: white;
  background-color: #0093B7;
  padding: 6px 10px;
  margin: 1px;
  border-radius: 3px;
  text-decoration: none;
  font-size: 16px;
  border: 0px;
  font-family: 'Old Standard TT';
}
h1 a{
  background-color: unset;
  font-size: unset;
  font-family: unset;
  padding: unset;
}
button{
  cursor: pointer;
}
h3 {
  color: #0093B7;
}
h5{
  color: red;
  font-size: 20px;
}
header {
  background-color: #003340;
  color: white;
}

body {
  background-color: #2A2B2B;
  color: white;
}
